.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.azeret-mono {
    font-family: "Azeret Mono", monospace;

}

.banner-btn {
    position: static;


    height: 66px;

    padding: 21px 24px 21px 24px;

    margin: 32px 0px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}


.secondary-bg {
    background-color: #FFF8F3;
}

.btn-primary {
    position: relative;
    background-color: none;
    font-weight: bold;
    color: black;
    border: black;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    left: 1200px;

}

.developer {
    padding: 80px 0px 80px 0px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    position: static;
}

.developer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 48px 0px;
}

.developer-description {
    margin: 20px auto;
    opacity: 0.7;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.developer-work {
    width: 700px;
    height: 336px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    gap: 40px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);

}

.developer-description {
    opacity: 0.7;
    font-size: 12px;
    text-align: left;
}

.developer-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 90px;
    height: 40px;
}

.image-content {
    position: relative;
    width: 200px;
    height: 150px;
}

.text-content {
    margin-right: 20px;
    position: static;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

.text-center {
    text-align: center;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-image: url("Hero-bg.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
    color: white;
}

.header {
    background-image: url('../assets/Hero-bg.png'), url('../assets/Group.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.nav-title {
    font-weight: 800;
    font: 80px;
    color: black;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
}

.banner-profile-pic {
    background-attachment: fixed;
    width: 100%;
}

.inner-head {
    position: relative;
    bottom: 500px;
}

.header-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.header-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.contact-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(13, 19, 33);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.contact-btn:hover {
    background-color: #0056b3;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.section_description {
    padding: 60px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.reasons,
.skills,
.targets {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.reason,
.skill,
.target {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reason a,
.skill a,
.target a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.reason a:hover,
.skill a:hover,
.target a:hover {
    text-decoration: underline;
}



.footer-content {
    background-image: url('../assets/handshake.jpg');
    margin: 0px 150px;

    width: 1140px;
    height: 314px;
    color: white;

    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 48px 64px 48px;
}

.footer-content h3 {
    font-size: 32px;

}

.footer-content p {
    font-size: 16px;
}

.support-container>input {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 20px 19px 20px;
}

.support-container>button {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    position: static;

    display: flex;

    justify-content: center;
    align-items: center;
    padding: 17px 20px 17px 20px;
}

.support-container {
    display: flex;
    gap: 15px;
}

.foot {
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.03);


    width: 820px;
    height: 50px;
}