.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.azeret-mono {
    font-family: "Azeret Mono", monospace;
   
  }
.banner-btn {
    position:static;
    
   
    height: 66px;
   
    padding: 21px 24px 21px 24px;
   
    margin: 32px 0px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}


.secondary-bg {
    background-color: #FFF8F3;
}

.btn-primary {
    position: relative;
    background-color: none;
    font-weight: bold;
    color: black;
    border: black;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    left: 1200px;

}

.developer{
    padding: 80px 0px 80px 0px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.text-center {
    text-align: center;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-image: url("Hero-bg.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
    color: white;
}

.header {
    background-image: url('../assets/Hero-bg.png'), url('../assets/Group.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.nav-title {
    font-weight: 800;
    font: 80px;
    color: black;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
}

.banner-profile-pic {
    background-attachment: fixed;
    width: 100%;
}

.inner-head {
    position: relative;
    bottom: 500px;
}

.header-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.header-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.contact-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(13, 19, 33);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.contact-btn:hover {
    background-color: #0056b3;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.section_description {
    padding: 60px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.reasons,
.skills,
.targets {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.reason,
.skill,
.target {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reason a,
.skill a,
.target a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.reason a:hover,
.skill a:hover,
.target a:hover {
    text-decoration: underline;
}



.footer-content {
    background-image: url("/assets/handshake.jpg");
    margin: 0px 150px;
   
    width: 1140px;
    height: 314px;
    color: white;

    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 48px 64px 48px;
}

.footer-content h3
 {
   font-size: 32px;
   
}
.footer-content p{
    font-size: 16px;
}